/*
 * Admin Page CSS for WP Socializer plugin
 * Author : Aakash Chakravarthy
 * Version : 1.0
*/

/* Tabs */

#tabs {
	margin: 0px 0;
	border: 0px solid #0066CC;
}
#tabs #tabsList {
	margin: 0px;
	padding: 0px;
}
#tabs #tabsList li {
	list-style: none;
	margin: 0px 0px 0px 3px;
	display: inline;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 0px;
}
#tabs #tabsList li, #tabs #tabsList li a {
	float: left;
}
#tabs #tabsList li a {
	text-decoration: none;
	padding: 5px;
	color: #000;
	margin: 0px;
	border-top: 1px solid #E2E2E2;
	border-right: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}
#tabs #tabsList li a:hover {
	background: #FFFFFF;
}
.ui-state-active {
	border-top: 2px solid #FF9900;
	background: #FFFFFF;
}
#tabs .tabContent {
	clear: both;
	padding: 5px 10px 10px;
	margin: 0px;
	background: #FFFFFF;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-bottom: 2px solid #FF9900;
	border-left: 1px solid #e9e9e9;
}

/* Other */

.wrap h3 {
	font: italic 21px "Times New Roman", Times, serif;
	color: #333333;
	margin: 10px 0px 0px;
	padding: 0px;
}
.wrap h4 {
	font-weight: bold;
	display: block;
	padding: 10px 0px 5px;
	margin: 0px 0px 5px;
	border-bottom: 1px solid #e7e7e7;
	clear: both;
}
.wrap h5{
	margin: 7px 0px;
	font-size: 13px;
}
.wrap h4 .max_min{
	float: right;
	font-weight: bold;
	margin: 0px;
	padding: 0px 7px;
	cursor: pointer;
}

.wrap h4 .max_min:hover{
	color: #FFFFFF;
	background: #FF9900;
}

.wrap .section{
	padding: 10px;
}
.wrap .section img{
	vertical-align:middle;
}

.message .close{
	float: right;
	margin: -30px 0px 0px;
	padding: 5px;
	cursor: pointer;
}

#leftContent{
	width: 79%;
	float: left;
	margin: 0px;
	padding: 0px;
}

#sidebar{
	width: 20%;
	float: right;
	padding: 0px;
	margin: 0px;
}
#sidebar ul{
	width: 95%;
	border: 1px solid #E9E9E9;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	background: #FFFFFF;
	padding: 5px;
	margin: 0px 15px 5px 0px;
}
#sidebar li{
	display: block;
	padding: 3px;
	border-bottom: 1px solid #E2E2E2;
}
#sidebar li a{
	text-decoration: none;
}
.bottomWrap{
	margin: 0px 0px 10px;
	padding: 15px 10px;
	border: 1px solid #e9e9e9;
	background: #FFF7EA;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.bottomWrapLeft{
	float: left;
	width: 25%;
}
.bottomWrapRight{
	float: right;
	width: 60%;
	text-align: right;
	font-size: 10px;
	color: #666666;
	margin-top: -10px;
}
.bottomWrapRight a{
	text-decoration: none;
	color: #666666;
}
.bottomWrapRight a:hover{
	text-decoration: underline;
}
.bottomColumn{
	background: #FFFFFF;
	padding: 5px;
	border: 1px solid #e9e9e9;
}
.bottomColumn .column{
	width:47%;
	float:left;
	padding: 5px 5px 5px 10px;
}
.donateBt{
	border-bottom: 2px solid #FF9900;
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
.redText{
	color: #FF0000;
}
.linkBtm{
	color: #999999;
	float: right;
	padding: 0px 3px;
	margin: -35px 0px 0px;
	position: absolute;
	right: 0px;
}
.smallText{
	font-size: 10px;
	color: #666666;
}
.codeBox{
	background: #FCFCFC;
	padding: 3px;
	margin-right: 5px;
	margin-left: 5px;
	border: 1px solid #e2e2e2;
	font-size: 11px;
}
.codeBox span{
	font-family: "Courier New", Courier, monospace;
	padding: 4px;
}
.codeBox span:hover, code:hover{
	background: #FF9900;
	color: #FFFFFF;
}
.template_box{
	width: 98%;
	font: 13px/1.5em "Courier New", Courier, monospace;
}
.placement_left{
	float: left;
	width: 75%;
}
.placement_right{
	float: right;
	width: 25%;
}
.placement_right label{
	font-size: 11px;
	color: #333333;
}
#wpsr_socialbt_list li{
	padding: 4px;
	color: #333333;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	float: left;
	width: 43%;
	margin: 5px;
	text-transform: capitalize;
	background: #FFFFFF;
	border: 1px solid #e9e9e9;
}
#wpsr_socialbt_list li:hover{
	border-color: #999999;
	color: #000000;
}

#wpsr_socialbt_list li img{
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background: url(social-icons/wp-socializer-sprite-16px.png) no-repeat;
	padding: 0px;
	border-right: 1px solid #e9e9e9;
	margin: 0px 5px 0px 0px;
}

.sb_add16px{
	color: #000000;
	background: #F8F8F8;
	float: right;
	padding: 5px 8px 5px 5px;
	border-left: 1px solid #e9e9e9;
	cursor: pointer;
	margin: -4px -4px -4px 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;

}
.sb_add32px{
	color: #000000;
	background: #F8F8F8;
	float: right;
	padding: 5px 8px 5px 5px;
	border-left: 1px solid #e9e9e9;
	cursor: pointer;
	margin: -4px -3px -4px 0px;
	border-right: 1px solid #e9e9e9;
}
.sb_add16px:hover, .sb_add32px:hover{
	color: #FFFFFF;
	background: #999999;
}
.added_msg{
	background: #F4FFF4;
	display: block;
	margin: 5px -3px -3px;
	padding: 3px;
	border-top: 1px solid #e9e9e9;
	border-right: 0px solid #FFFF33;
	border-bottom: 0px solid #FFFF33;
	border-left: 0px solid #FFFF33;
}

.wpsr_socialbt_selected_list li{
	padding: 5px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px #999;
	-webkit-box-shadow: 0 1px 2px #999;
	border-bottom: 1px solid #006C91;
	position: relative;
	float: left;
	width: 98%;
	margin: 5px;
	text-transform: capitalize;
	background: #0099CC;
	cursor: move;
}
.wpsr_socialbt_selected_list li:hover{
	background: #00CC00;
	border-bottom: 1px solid #009900;
}
.wpsr_socialbt_selected_list li .sb_close{
	float: right;
	padding: 2px 4px;
	margin: -2px -3px -2px 0px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-transform: lowercase;
	font-weight: bold;
}
.wpsr_socialbt_selected_list li .sb_close:hover{
	cursor: pointer;
	color: #FF0000;
}

/* Sprites */

.admSprites a{
	background: url(images/admin-sprites.png) no-repeat;
	padding: 0px 0px 3px 20px;
}
.admSpr-addthis { background-position: 0 0 !important;} 
.admSpr-author { background-position: 0 -17px !important;} 
.admSpr-bug { background-position: 0 -34px !important;} 
.admSpr-documentation { background-position: 0 -51px !important;} 
.admSpr-donate { background-position: 0 -68px !important;} 
.admSpr-error { background-position: 0 -85px !important;} 
.admSpr-faq { background-position: 0 -102px !important;} 
.admSpr-feature { background-position: 0 -119px !important;} 
.admSpr-plugins { background-position: 0 -136px !important;} 
.admSpr-rss { background-position: 0 -153px !important;} 
.admSpr-star { background-position: 0 -170px !important;} 
.admSpr-support { background-position: 0 -187px !important;} 
.admSpr-twitter { background-position: 0 -204px !important;} 
.admSpr-warning { background-position: 0 -221px !important;} 


/* Color Picker */
div.color_picker{ height:16px; width:16px; padding:0 !important; border:1px solid #ccc; cursor:pointer; line-height:16px}div#color_selector{ width:110px; position:absolute; border:1px solid #000; background-color:#EFEFEF; padding:2px} div#color_custom{width:100%;float:left} div#color_custom label{font-size:95%;color:#2F2F2F;margin:5px 2px;width:25%} div#color_custom input{margin:5px 2px;padding:0;font-size:95%;border:1px solid #000;width:65%}div.color_swatch{ height:12px; width:12px; border:1px solid #000; margin:2px; float:left; cursor:pointer; line-height:12px}