/*
 * WP Socializer Social buttons - CSS File - v2.2
 * Author: Aakash Chakravarthy
 */

.wp-socializer{
	display: block;
	margin: 0px 0px 10px;
	padding: 0px;
}
.wp-socializer ul {
	display: inline;
	margin: 0 !important;
	padding: 0 !important;
}
.wp-socializer ul li {
	background: none;
	list-style-type: none !important;
	margin: 0px 5px 5px 0px !important;
	padding: 0px !important;
	float: left !important;
}
.wp-socializer ul li:before { 
	content: ""; 
}
.wp-socializer img, .wp-socializer-single img{
	float: none;
	vertical-align:middle;
	margin: 0px 5px 0px 0px !important;
	padding: 0px !important;
	max-width: none\9; /* IE max-width fix on v2.1 */
}
.wp-socializer-single{
	margin-right: 10px;
}
.addthis_button img{
	border: 0;
	margin: 0;
	padding: 0;
}
.wp-socializer-clearer{
	clear: left;
}

/** Effects **/

.wp-socializer-opacity li {
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	opacity: 0.5;
}
.wp-socializer-opacity li:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	opacity: 1;
}
.wp-socializer-jump li {
	margin: 0px;	
}
.wp-socializer-jump li:hover {
	margin-top: -5px;
}

/** Columns **/
.columns-5 li{
	width: 19%;
}
.columns-4 li{
	width: 24%;
}
.columns-3 li{
	width: 32% !important;
}
.columns-2 li{
	width: 48%;
}

/** Templates **/
.wp-socializer-buttons{
	margin: 0px 0px 10px !important;
	padding: 0px !important;
}
.wp-socializer-buttons .wpsr-btn{
	margin: 0px;
	padding: 0px;
	float: left;
	margin-right: 10px;
}
.floatleft{
	float:left !important;
}
.floatright{
	float:right !important;
}
.padding5{
	padding: 5px 0px !important;
}
.padding10{
	padding: 10px !important;
}
.margin15{
	margin: 0px 15px 0px 0px !important;
}
.margin10{
	margin: 0px 10px 0px 0px !important;
}
.clear-all{
	clear:both;
}
.fixed-pos{
	position:fixed !important;
	z-index:99999 !important;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.border5{
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.shadow{
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.buttons-wrap{
	padding: 10px 0px !important;
}

/* Floating share bar */
.wpsr-floatbar-float_left{
	position: absolute;
	border: 1px solid;
	border-color: #ccc;
	background-color: #fff;
	padding: 0px 5px 0px 6px !important;
	width: 60px;
	margin: 0px 0px 0px 0px !important;
	z-index: 9999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	text-align: center;
}
.wpsr-floatbar-float_left .wpsr_floatbt{
	margin: 10px 0px;
	padding: 0px;
}
.wpsr-floatbar-bottom_fixed{
	position: fixed;
	border: 1px solid;
	border-color: #ccc;
	background-color: #fff;
	background-image: url(images/grey-bg.png);
	background-repeat: repeat-x;
	background-position: 0px -30px;
	bottom: -1px;
	width: 900px;
	z-index: 9999;
	padding: 0px 0px 0px 15px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	left: 0px;
	right: 0px;
	margin: 0 auto;
	height: 35px;
}
.wpsr-floatbar-bottom_fixed .wpsr_floatbt{
	float: left;
	margin-right: 10px;
	border-right: 1px solid;
	border-color: #ccc;
	padding: 8px 5px 0px 0px;
	text-align: center;
	height: 35px;
}

/* Floating bar themes */
.wpsr-floatbar-bottom_fixed.wpsr-floatbar-dark{
	border-color: #333;
	background-color: #333;
	background-image: url(images/dark-bg.png);
	background-position: 0px 0px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.wpsr-floatbar-float_left.wpsr-floatbar-dark{
	border-color: #333;
	background-color: #333;
}
.wpsr-floatbar-dark .wpsr_floatbt{
	border-color: #333;
}
.wpsr-floatbar-dark .wpsr_floatbt a{
	color: white !important;
}

/* Link back */
.wpsr-floatbar-float_left .wpsr-linkback{
	margin: 15px 0 0 0;
	position: absolute;
}
.wpsr-floatbar-float_left .wpsr-linkback a{
	font-size: 8px;
	color: #ccc;
	text-decoration: none;
	opacity: 0.05;
	-webkit-transition: opacity .8s linear;
	display: block;
	margin: 0px;
	padding: 0px;
}
.wpsr-floatbar-float_left .wpsr-linkback a:hover{
 	opacity: 1;
}
.wpsr-floatbar-float_left .wpsr_linkaw{
	margin: -5px 0 0 0 !important;
}
.wpsr-floatbar-bottom_fixed .wpsr-linkback{
	margin: 6px 0 0 0;
	position: absolute;
	bottom: -70px;
}
.wpsr-floatbar-bottom_fixed .wpsr-linkback a{
	font-size: 8px;
	color: #ccc;
	text-decoration: none;
	opacity: 0.05;
	-webkit-transition: opacity .8s linear;
	display: block;
	margin: 0px;
	padding: 0px;
}

/* Hide btn */
.wpsr_hidebt{
	background: url(images/grey-toggle.png) no-repeat center center;
	float: right;
	height: 35px;
	width: 35px;
	cursor: pointer;
}
.wpsr_hidebt:hover{
	opacity: 0.5;
}

/* Misc */
.wpsr-floatbar-float_left .wpsr_floatbt .fb-like{
	width: 50px !important;
}
.wpsr_floatbt .wp-socializer-single{
	margin: 0px;
}

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */