/*
 * WP Socializer Social buttons - CSS File - v2.2
 * Author: Aakash Chakravarthy
 */

.wp-socializer{
	display: block;
	margin: 0px 0px 10px;
	padding: 0px;
}
.wp-socializer ul {
	display: inline;
	margin: 0 !important;
	padding: 0 !important;
}
.wp-socializer ul li {
	background: none;
	list-style-type: none !important;
	margin: 0px 5px 5px 0px !important;
	padding: 0px !important;
	float: left !important;
}
.wp-socializer ul li:before { 
	content: ""; 
}
.wp-socializer img, .wp-socializer-single img{
	float: none;
	vertical-align:middle;
	margin: 0px 5px 0px 0px !important;
	padding: 0px !important;
	max-width: none\9; /* IE max-width fix on v2.1 */
}
.wp-socializer-single{
	margin-right: 10px;
}
.addthis_button img{
	border: 0;
	margin: 0;
	padding: 0;
}
.wp-socializer-clearer{
	clear: left;
}

/** Effects **/

.wp-socializer-opacity li {
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	opacity: 0.5;
}
.wp-socializer-opacity li:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	opacity: 1;
}
.wp-socializer-jump li {
	margin: 0px;	
}
.wp-socializer-jump li:hover {
	margin-top: -5px;
}

/** Columns **/
.columns-5 li{
	width: 19%;
}
.columns-4 li{
	width: 24%;
}
.columns-3 li{
	width: 32% !important;
}
.columns-2 li{
	width: 48%;
}

/** Templates **/
.floatleft{
	float:left !important;
}
.floatright{
	float:right !important;
}
.padding5{
	padding: 5px 0px !important;
}
.padding10{
	padding: 10px !important;
}
.margin15{
	margin: 0px 15px 0px 0px !important;
}
.margin10{
	margin: 0px 10px 0px 0px !important;
}
.clear-all{
	clear:both;
}
.fixed-pos{
	position:fixed !important;
	z-index:99999 !important;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.border5{
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.shadow{
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.buttons-wrap{
	padding: 10px 0px !important;
}
/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */